# ===========================
# DuckDNS
# ===========================
(dns_duck) {
    tls {
        dns duckdns {env.DUCKDNS_TOKEN}
    }
    log {
        output file {env.LOG_FILE}
        format console
    }
}

# ===========================
# Vaultwarden
# ===========================
{env.VAULT_DOMAIN} {
    import dns_duck

    encode zstd gzip

    reverse_proxy vaultwarden:80
}

# ===========================
# 2FAuth
# ===========================
{env.AUTH_DOMAIN} {
    import dns_duck

    encode zstd gzip

    reverse_proxy 2fauth:8000
}

# ===========================
# Filebrowser
# ===========================
{env.STORAGE_DOMAIN} {
    import dns_duck

    encode zstd gzip

    reverse_proxy filebrowser:80
}

