# ===========================
# Porkbun
# ===========================
(dns_porkbun) {
    tls {
        dns porkbun {
                api_key {env.PORKBUN_API_KEY}
                api_secret_key {env.PORKBUN_API_SECRET}
        }
    }
    log {
        output file {env.LOG_FILE}
        format console
    }
}

# ===========================
# Vaultwarden
# ===========================
{env.VAULT_DOMAIN} {
    import dns_porkbun

    encode gzip
    reverse_proxy vaultwarden:80
}

# ===========================
# 2FAuth
# ===========================
{env.AUTH_DOMAIN} {
    import dns_porkbun

    encode gzip
    reverse_proxy 2fauth:8000
}

# ===========================
# Filebrowser
# ===========================
{env.STORAGE_DOMAIN} {
    import dns_porkbun

    encode gzip
    reverse_proxy filebrowser:80
}

# ===========================
# WireGuard VPN
# ===========================
{env.VPN_DOMAIN} {
    import dns_porkbun

    encode gzip
    tls internal
    reverse_proxy wg-easy:51821
}

# ===========================
# Gitea
# ===========================
{env.VPN_DOMAIN} {
    import dns_porkbun

    encode gzip
    tls internal
    reverse_proxy gitea:3000
}


